@import url("https://fonts.googleapis.com/css2?family=Lisu+Bosa:wght@600;800&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #091c4a;
  --primary-color-light: #0c1a41;
  --secondary-color: #e71818;
  --extra-light: rgba(237, 24, 24, 0.5);
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Lisu Bosa", serif;
}


.sidebar{
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh; 
  width: 250px; 
  z-index: 999;
  background-color:rgba(0, 0, 0, 0.534);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1); 
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  justify-content: flex-start;
  }
  
  .sidebar li{
    width: 100%; 
  }
  
  .sidebar a{
    width: 100%;
  }
  

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 3rem 1rem;
}

.section__header {
  margin-bottom: 0.2rem;
  font-size: 3rem;
  font-weight: 800;
  font-family: var(--header-font);
  text-align: center;
}

.section__subheader {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.btn {
  display: inline-block;
  background: #fd1414;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s;
  
}
.btn:hover {
  background: #1bbfae;
}
img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--white);
  background-color: var(--primary-color);
}

header {
  background-image: linear-gradient(to top, var(--primary-color), transparent),
    url("assets/young-woman-hiker-taking-photo-with-smartphone-mountains-peak-winter.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid var(--extra-light);
}

.nav__bar {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav__logo a {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link a {
  padding: 1.5rem 5px;
  font-weight: 500;
  color: var(--white);
  transition: 0.3s;
}

.link a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

.link span {
  padding: 1rem 0;
  color: var(--white);
  cursor: pointer;
}

.header__container {
  padding: 12rem 1rem;
}

.header__container h1 {
  margin-bottom: 1rem;
  max-width: 700px;
  font-size: 4rem;
  font-family: var(--header-font);
}

.header__container h4 {
  position: relative;
  margin-left: 3rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 500;
}

.header__container h4::after {
  position: absolute;
  content: "";
  left: -3rem;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: 2rem;
  background-color: var(--white);
}

.about__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  align-items: center;
}

.about__container :is(.section__header, .section__subheader) {
  text-align: left;
}

.about__flex {
  margin: 2rem 0;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: var(--primary-color-light);
}

.about__card {
  flex: 1 1 150px;
  text-align: center;
  border-right: 2px solid var(--primary-color);
}

.about__card:last-child {
  border: none;
}

.about__card h4 {
  margin-bottom: 5px;
  font-size: 3rem;
  font-weight: 600;
  font-family: var(--header-font);
}

.about__card p {
  font-size: 0.9rem;
}

.about__image img {
  max-width: 650px;
  margin: auto;
}

.discover {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.05),
    transparent
  );
}

.discover__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.discover__card {
  max-width: 320px;
  margin: auto;
}

.discover__card:nth-child(2) {
  transform: translateY(5rem);
}

.discover__image {
  position: relative;
}

.discover__image::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to top, var(--primary-color), transparent);
}

.discover__card__content {
  padding: 0 2rem;
  transform: translateY(-50%);
}

.discover__card__content h4 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 800;
  font-family: var(--header-font);
  color:white;
}

.discover__card__content p {
  margin-bottom: 2rem;
}

.discover__btn {
  padding: 0.75rem 1rem;
  outline: none;
  font-size: 1rem;
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--white);
  cursor: pointer;
}
.discover__btn:hover img {
  transform: scale(1.0);
}

/* .blogs__container {
  padding: 5rem 0;
} */

.blogs__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 2px;
}

.blogs__card {
  position: relative;
  border: #25d366;
}



.blogs__card::after {
  /* position: absolute; */
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(to top, var(--primary-color), transparent);
}
.blogs__card:hover img {
  transform: scale(1.0);
}

.blogs__content {
  position: relative;
  bottom: 0; 
  left: 0;
  width: 100%;
  padding: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  z-index: 1;
} 

.journals__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.journals__content {
  padding: 2rem;
  background-color: var(--primary-color-light);
}

.journals__author {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.journals__author img {
  max-width: 30px;
  border-radius: 100%;
}

.journals__author p {
  font-size: 0.9rem;
  opacity: 0.75;
}

.journals__content h4 {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.journals__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.journals__footer p {
  font-size: 0.9rem;
  opacity: 0.5;
}

.journals__footer span a {
  font-size: 1.5rem;
  color: var(--white);
  opacity: 0.75;
}

.journals__btn {
  margin-top: 4rem;
  text-align: center;
}

.hero__container p {
  text-align: center;
  font-size: 12rem;
  font-weight: 700;
  background-color:rgb(251, 251, 247);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--extra-light);
}

.gallery__container {
  padding: 1rem 1rem;
}

.gallery__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.gallery__card {
  position: relative;
  overflow: hidden;
}

.gallery__content {
  position: absolute;
  left: 50%;
  bottom: -8rem;
  transform: translateX(-50%);
  width: 100%;
  padding: 2rem 1rem;
  transition: 0.3s;
  text-align: center;
  background-image: linear-gradient(to top, var(--primary-color), transparent);
}

.gallery__content h4 {
  margin-bottom: 0.3rem;
  font-size: 2rem;
  font-weight: 800;
  font-family: var(--header-font);
}

.gallery__card:hover .gallery__content {
  bottom: 0;
}

.contact {
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.05),
    transparent
  );
}

.contact__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;
}

.contact__card {
  max-width: 250px;
  margin: auto;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  text-align: center;
  border: 1px solid var(--extra-light);
  border-radius: 100%;
  cursor: pointer;
}

.contact__card span {
  margin-bottom: 1rem;
  font-size: 2rem;
  transition: 0.3s;
}

.contact__card:hover span {
  color: var(--secondary-color);
}

.contact__col h4 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 800;
  font-family: var(--header-font);
}

.contact__col h5 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--header-font);
}

.footer__container {
  text-align: center;
}

.footer__container h4 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.footer__socials {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.footer__socials span a {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
  transition: 0.3s;
}

.footer__socials span a:hover {
  color: var(--secondary-color);
}

.footer__container p {
  max-width: 600px;
  margin: auto;
  margin-bottom: 4rem;
}

.footer__nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer__link a {
  font-weight: 500;
  color: var(--white);
}

.footer__link a:hover {
  color: var(--secondary-color);
}

.footer__bar {
  padding: 1rem;
  text-align: center;
  font-size: 0.8rem;
  border-top: 1px solid var(--extra-light);
}
/* one link here */

@media (width < 900px) {
  .link:not(.search) {
    display: none;
  }

  .about__container {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  .about__container :is(.section__header, .section__subheader) {
    text-align: center;
  }

  .about__image {
    grid-area: 1/1/2/2;
  }

  .discover__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .blogs__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .journals__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .hero__container p {
    font-size: 10rem;
  }

  .gallery__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .contact__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact__col:first-child {
    grid-area: 1/1/2/3;
    text-align: center;
  }
}



/* second link here */
@media (width < 600px) {
  .header__container {
    text-align: center;
  }

  .header__container h4 {
    margin-left: 0;
  }

  .about__card {
    border: none;
  }

  .discover__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .discover__card:nth-child(2) {
    transform: translateY(0);
  }

  .blogs__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .journals__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .hero__container p {
    font-size: 6rem;
  }

  .gallery__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .contact__col:first-child {
    grid-area: unset;
  }
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366; 
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.whatsapp-float:hover {
  background-color: #128c7e; 
}
.about {
  background-color: #091c4a;
  padding: 60px 0;
}

.about-content {
  display: flex;
  align-items: center;
}

.column {
  flex: 1;
}

.profile-picture {
  width: 60%;
  border: 2px solid black;
  overflow: hidden;
  margin-right: 20px; /* Add margin to the profile picture */
  border-radius: 50%; /* Make the profile picture round */
}

.profile-picture img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.profile-picture:hover img {
  transform: scale(1.1);
}

.column.right {
  padding: 0 40px;
}

.text h2.title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #fff; /* Adjusted to match the background */
}

.text h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #fff; /* Adjusted to match the background */
}

.text p {
  font-size: 18px;
  color: #888;
}

.description {
  font-size: 16px;
  margin-top: 20px;
  color: #fff; /* Adjusted to match the background */
}

.cross-line {
  border: none;
  height: 2px;
  background-color: #fd1414; /* Adjust color as needed */
  margin: 20px 0;
}

.btn-download {
  display: inline-block;
  background: #fd1414;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s;
}

.btn-download:hover {
  background: #1bbfae;
}

/* footer */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



* =================== Review Style Starts Here =================== */
.review {
  padding: 50px;
  background-color: #FFF; }
  @media screen and (max-width: 940px) {
    .review {
      padding: 30px 10px; } }
  .review .review-row .review-col {
    display: flex;
    margin-bottom: 30px; }
    .review .review-row .review-col .profil {
      padding: 10px; }
      .review .review-row .review-col .profil img {
        border-radius: 50%;
        background-color: #fff;
        padding: 4px;
        @inclide card-1(); }
    .review .review-row .review-col .review-detail h4 {
      font-weight: 600;
      font-size: 1.1rem; }
    .review .review-row .review-col .review-detail h6 {
      margin-top: 10px;
      font-weight: 600;
      font-family: .9rem; }
    .review .review-row .review-col .review-detail p {
      font-size: .9rem; }
    .review .review-row .review-col .review-detail .rat {
      margin-top: -20px !important; }
      .review .review-row .review-col .review-detail .rat li {
        float: right;
        margin-right: 4px;
        color: #ffcd47;
        font-size: .8rem; }

/* =================== Review Style Starts Here =================== */
.blog {
  padding: 50px; }
  @media screen and (max-width: 940px) {
    .blog {
      padding: 30px 10px; } }
  .blog .blog-row {
    margin-top: 20px; }
    .blog .blog-row .blogcol {
      margin-bottom: 30px; }
      .blog .blog-row .blogcol img {
        margin-bottom: 10px; }
      .blog .blog-row .blogcol span {
        font-size: .8rem; }
      .blog .blog-row .blogcol h4 {
        margin-top: 10px;
        font-weight: 600;
        font-size: 1.1rem;
        line-height: 26px; }
/* Additional CSS Styles */
.review .profil img {
  border-radius: 50%;
  width: 100px; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
  object-fit: cover;
  border: 3px solid #fff;
}

.review-col {
  display: flex;
  align-items: center;
}

.review-detail {
  padding-left: 20px;
}

.review-detail h4 {
  margin-top: 0;
}

.review-detail p {
  margin-bottom: 20px;
}

.review-detail h6 {
  margin-bottom: 10px;
}

.review .rat {
  margin-top: -20px;
}

.review .rat li {
  float: right;
  margin-right: 4px;
  color: #ffcd47;
  font-size: .8rem;
}

/* Existing CSS styles */

/* Additional CSS for review section */
.review-row {
  display: flex;
  flex-wrap: wrap;
}

.review-col {
  flex: 1 1 50%; /* Adjust the width as needed */
}

.profil {
  flex: 0 0 auto; /* Prevent the image from stretching */
  margin-right: 20px; /* Adjust spacing between image and text */
}

.review-detail {
  flex: 1 1 auto; /* Allow the review details to grow and shrink */
}

.review-detail h4,
.review-detail h6,
.review-detail p {
  margin: 0; /* Remove default margins */
}

/* Media query for 768px and above */
@media (min-width: 768px) {
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}








.flex-container {
  display: center;
  display: flex;
  justify-content: 1%; /* Adjust as needed */
}
.team-container {
  text-align: center; /* Center align the content */
}

.flex-container {
  display: flex;
  justify-content: center; /* Center align the cards */
}

.team-title {
  margin-bottom: 20px; /* Add space between title and cards */
}

.team-section {
  text-align: center;
  margin-top: 50px;
}

.team-title {
  font-size: 24px;
  margin-bottom: 30px;
}

.team-members {
  display: flex;
  justify-content: center;
}

.team-member {
   /* Reduce margin to make images closer */
  text-align: center;
}

.team-member img {
  max-width: 200px; /* Adjust the size of the images */
  height: auto;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.team-member img:hover {
  transform: scale(1.1);
}

.member-info {
  margin-top: 15px;
}

.member-name {
  font-size: 18px;
  margin-bottom: 3px;
}

.member-description {
  font-size: 14px;
  color: #666;
}
